@import url('https://fonts.googleapis.com/css2?family=Itim&family=Mitr&family=Pangolin&display=swap');
.contenedor{
  display: flex;
  justify-content: center;
}
.Buscador {
    background: url(https://cdn0.iconfinder.com/data/icons/slim-square-icons-basics/100/basics-19-32.png) no-repeat 0px 5px;
    background-size: 24px;
    color:white;
    width: 250px;
    border: transparent;
    background-color: transparent;
    border-bottom: solid 1px rgb(255, 255, 255);
    padding: 10px 10px 10px 30px;
    outline: none;
    margin: 8px;
    font-family: 'Mitr', sans-serif;
  }
  .btngrad {
    background-image: linear-gradient(to right, #16222A 0%, #3A6073  51%, #16222A  100%);
    margin: 5px;
    padding: 10px 25px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
    text-decoration: none;
    border: none;
    cursor: pointer;
    font-family: 'Mitr', sans-serif;
    letter-spacing: 2px;
  }

  .btngrad:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
  }